* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Akrobat';
  min-height: 100vh;
  background: #000;
  color: #fff;
  overflow-x: hidden;
}

main {
  position: relative;
  overflow-x: hidden;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #ff4d4d,
    #ff7a18
  );

  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #ff6666,
    #ff914d
  );
}

/* Firefox */

html {
  scrollbar-width: thin;
  scrollbar-color: #ff7a18 #050505;
}