:root {
  --buttonGradient: linear-gradient(135deg, #ff2d55 0%, #ff7a18 100%);
}

.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 100;
  scale: 0.8;
}

.header__wrapper {
  padding: 12px 12px 12px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__left {
  display: inline-flex;
  align-items: center;
  gap: 34px;
}

.header__button--container {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.header--button {
  text-transform: uppercase;
  border: none;
}

.header--button.button--mnt {
  background: white;
  border: 1px solid white;
  color: black;
}

.header--button.button--howtostart {
  background: var(--buttonGradient);
}

.header__button--hamburger {
  border: none;
  background: transparent;
  padding: 0;
}

@media (min-width: 768px) {
  .header__button--hamburger {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__button {
    display: none;
  }
  .header__button--container {
    display: none;
  }
}