:root {
  --buttonGradient: linear-gradient(
    135deg,
    #ff2d55 0%,
    #ff7a18 100%
  );
}

.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 100;
  scale: 0.8;
}

.header__wrapper {
  padding: 12px 12px 12px 22px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__content {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 34px;
}

.header__button--container {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header--button {
  height: 58px;
  min-width: 190px;

  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border: none;
  border-radius: 16px;

  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;

  white-space: nowrap;

  transition: .2s ease;
}

.header--button:hover {
  transform: translateY(-2px);
}

.header--button.button--mnt {
  background: white;
  color: black;
  border: 1px solid white;
}

.header--button.button--howtostart {
  min-width: 250px;
  background: var(--buttonGradient);
  color: white;
}

.header__button--hamburger {
  border: none;
  background: transparent;
  padding: 0;
}

@media (min-width: 768px) {
  .header__button--hamburger {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__button--container {
    display: none;
  }
}